<h2>Login de Usuario</h2>
<form [formGroup]="formLogin" (ngSubmit) = "onSubmit()">
    <div class = "mb-3">
        <label>Email</label>
        <input type="text" class="form-control" fromControlName = "email">
    </div>
    <div class = "mb-3">
        <label class = "form-label">Password</label>
        <input type="password" class="form-control"
        formControlName="password">
    </div>
    <input type="submit" value="Enviar">
</form>
<button class="btn btn-info" (click)="onClick()">Login with Google</button>